/*  
color:
#0a2342
#058ed9
#20bf55
#efaoob
*/
body{
    font-family: 'Raleway', sans-serif;
    color:white;
}
.header{
    background:#0a2342;
    color:white;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.logoTop{
    float: left;
    display: inline-block;
    background:#e56399;
    padding: 5px;
    margin-right: 15px;
}
.leftMenu{
    float: left;
    display: inline-block;
    background:#efa00b;
}
.leftMenu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.leftMenu ul li{
    display: inline-block;
    padding: 15px;
}
.leftMenu ul li a{
    color: white;
}
.rightMenu{
    float: right;
    display: inline-block;
    background:#058ed9;
    color:black;
}
.rightMenu ul{
    list-style:none;
    padding:0px;
    margin:0px;
}
.rightMenu ul li{
    display:inline-block;
    padding:15px;
}
.rightMenu ul li a{
    color:white;
}
.imgLarge{
    padding:200px 25px;
    background:url(../img/protector.jpg) no-repeat left center;
    background-size: cover;
    text-shadow:/*adds the outline to the text for ease of sight */
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.descriptionBox{
width:50%;
background:rgba(10,35,66,.95);
}
.descriptionBox h1{
font-size: 55px;
font-weight: 800;
margin:0;
}
.descriptionBox h3{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
.descriptionBox h4{
font-weight: 300;
margin: 0;
}

footer{
    color:#000;
}
