/*  
color:
#0a2342
#058ed9
#20bf55
#efaoob
*/
body{
    font-family: 'Raleway', sans-serif;
    color:white;
}
.header{
    background:#0a2342;
    color:white;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color: red;
}
.logoTop{
    float: left;
    display: inline-block;
    background:#e56399;
    padding: 15px;
    margin-right: 15px;
}
.leftMenu{
    float: left;
    display: inline-block;
}
.leftMenu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.leftMenu ul li{
    display: inline-block;
    padding: 15px;
}
.leftMenu ul li a{
  
}
.leftMenu ul li a:hover{

}
.rightMenu{
    float: right;
    display: inline-block;
    color:black;
}
.rightMenu ul{
    list-style:none;
    padding:0px;
    margin:0px;
}
.rightMenu ul li{
    display:inline-block;
    padding:15px;
}
.rightMenu ul li a{
 
}
.rightMenu ul li a:hover{

}
.imgLarge{
    padding:200px 25px;
    background:url(../img/protector.jpg) no-repeat left center;
    background-size: cover;
    text-shadow:/*adds the outline to the text for ease of sight */
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.descriptionBox{
width:50%;
background:rgba(10,35,66,.95);
}
.descriptionBox h1{
font-size: 55px;
font-weight: 800;
margin:0;
}
.descriptionBox h3{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
.descriptionBox h4{
font-weight: 300;
margin-top: 15px;
}
.buttonOne{
   display: inline-block;
   padding: 12px 20px;
   background: #000;
   color:#fff;
   cursor: pointer; 
}
.buttonTwo{
   display: inline-block;
   padding: 10px 18px;
   border: 2px solid #000;
   cursor: pointer;
}
.worthWatching{
    width:100%;
    background:rgb(10,35,66);
}
.row{
    width:100%;
    font-size: 0;
}
.filmDisplay{
    display: inline-block;
    background:red;
    width:15%;
    height:250px;
    font-size:0px;
    margin:2.5%;
}
.film1{
   background:url(../img/bestday.jpg) no-repeat left center;
   background-size: cover;
   text-shadow:/*adds the outline to the text for ease of sight */
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}
.film2{
   background:url(../img/happy.jpg) no-repeat left center;
   background-size: cover;
   text-shadow:/*adds the outline to the text for ease of sight */
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}
.film3{
   background:url(../img/runners.jpg) no-repeat left center;
   background-size: cover;
   text-shadow:/*adds the outline to the text for ease of sight */
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}
.film4{
   background:url(../img/zulupro.jpg) no-repeat left center;
   background-size: cover;
   text-shadow:/*adds the outline to the text for ease of sight */
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}
.film5{
   background:url(../img/pilot.jpg) no-repeat left center;
   background-size: cover;
   text-shadow:/*adds the outline to the text for ease of sight */
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}
footer{
    color:#000;
}
